//Variáveis de Cores
@corDeFundo: #1b2a57;
@corDosBotoes: #0097e7;
@corDosTextos: #f5f5fb;

//Breakpoits
@breakpointMobile: ~"(max-width:767px)";
@breakpointTablet: ~"(min-width:768px) and (max-width:1023px)";